/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------MY CODE BELOW---------------------------------------------- */

#main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
}


li {
	margin-top: 10px;
}

h1 {
	font-size: 18px;
}
.sidebar-container {
	background-color: #047857;
	grid-row: 1 / 3;
	color: white;
	display: grid;
	grid-template-rows: 1fr 2fr 3fr;
	gap: 10px;
	
}




.top-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
	box-shadow: rgba(0, 0, 0, 0.411) 2px 1px 10px;
}

.feed-container {
	margin-top: 20px;
	background-color: #d1fae5;
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding: 2vh;
	gap: 20px;
}

.projects-container {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

}
[class|=project] {
	padding: 10px;
	border-radius: 20px;	
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.411) 2px 1px 10px;

}


.news-container{
	display: grid;
	grid-template-rows: 2fr 1fr;
}

.announcements-container, .trending-container {
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	height: 30vh;
	box-shadow: rgba(0, 0, 0, 0.411) 2px 1px 10px;
}